*{
    padding: 0;
    box-sizing: border-box;
}

$color-button-number:#4C4743;
$color-black:rgb(19, 18, 18);
$color-white:#fefefe;

.main{
    height: 500px;
    width: 400px;
    background-color: $color-black;
    border-radius: 3%;
}



