* {
  padding: 0;
  box-sizing: border-box;
}

.main {
  height: 500px;
  width: 400px;
  background-color: #131212;
  border-radius: 3%;
}

.buttonRow {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#result {
  height: 85px;
  width: 99%;
  border-radius: 3%;
  background-color: #131212;
  color: #fefefe;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 30px;
}

.buttonDesign {
  height: 60px;
  width: 60px;
  background-color: #4C4743;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 30px;
  border-radius: 50%;
  color: #fefefe;
}

.operator {
  height: 50px;
  width: 80px;
  background-color: #F7AC31;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 25px;
  border-radius: 30%;
}

.eqOperator {
  height: 50px;
  width: 50%;
  background-color: #CDCEC9;
  font-family: "Work Sans";
  font-weight: 700;
  font-size: 30px;
  border-radius: 10%;
}

#negative {
  height: 50px;
  width: 80px;
  background-color: #F7AC31;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 30px;
  border-radius: 30%;
}

@media (max-width: 400px) {
  .main {
    height: auto;
    width: auto;
  }
}